@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

/* * {
  box-sizing: border-box;
} */

/* html,
body {
  height: 100%;
} */

.event-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 3rem;
  /* max-width: 100%; */
  margin: auto;
  font-family: var(--font-sans);
  background-color: black;
  margin-top: -80px;
  margin-bottom: 35px;
}

.eventCard {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
.eventCard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}
.eventCard:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.eventCard:nth-child(1):before {
  background-image: url(../img/about/img1.jpg);
}
.eventCard:nth-child(2):before {
  background-image: url(../img/about/img2.jpg);
}
.eventCard:nth-child(3):before {
  background-image: url(../img/about/img3.jpg);
}

.eventContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.eventContent > * + * {
  margin-top: 1rem;
}

.eventTitle {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.2;
  /* color: linear-gradient(to left bottom, #009fff,#92fe9d); */
  /* color: #009fff; */
}

.eventCopy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.eventBtn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #009fff;
  border: none;
  border-radius: 5px;
}
.eventBtn:hover {
  background-color: #0d0d0d;
}
.eventBtn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (max-width: 600px) {
  .event-page-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 800px) {
  .event-page-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 600px) {
  .eventCard {
    height: 350px;
  }
}
@media (hover: hover) and (min-width: 200px) {
  .eventCard:after {
    transform: translateY(0);
  }

  .eventContent {
    transform: translateY(calc(100% - 4.5rem));
  }
  .eventContent > *:not(.eventTitle) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .eventCard:hover,
  .eventCard:focus-within {
    align-items: center;
  }
  .eventCard:hover:before,
  .eventCard:focus-within:before {
    transform: translateY(-4%);
  }
  .eventCard:hover:after,
  .eventCard:focus-within:after {
    transform: translateY(-50%);
  }
  .eventCard:hover .eventContent,
  .eventCard:focus-within .eventContent {
    transform: translateY(0);
  }
  .eventCard:hover .eventContent > *:not(.eventTitle),
  .eventCard:focus-within .eventContent > *:not(.eventTitle) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .eventCard:focus-within:before,
  .eventCard:focus-within:after,
  .eventCard:focus-within .eventContent,
  .eventCard:focus-within .eventContent > *:not(.eventTitle) {
    transition-duration: 0s;
  }
}
